<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body style="margin:30px 25px;">
        <%- include("../utils/print") %>
        <div>
            <div> 
                <img src='<%= srcImgLogo %>' />
            </div>
            <div style="text-align:right;">
                <h5>Neuquen, <%= fechaHora %></h5>
           </div>
        </div>

        <% if (agente) { %>
            <div>
                <p>Recibí a la fecha y hora, certificado médico correspondiente al agente
                <span> <%= value(agente.apellido) %>, <%= value(agente.nombre) %> </span> (Revista nro <%= agente.numero %>),
                Documento: <%= agente.documento %>)
                
                <% if (extraInfo) { %>
                    con fechas <%= extraInfo.fechaInicio %> al <%= extraInfo.fechaFin %> por el médico
                    tratante <%= extraInfo.medico %>, prestador médico <%= extraInfo.prestador %>
                <% } %>
                
            </p>
            </div>
        <% } %>
        <div style="text-align:left; width: 50%">
            <p>Nota: LA APROBACIÓN ESTA SUPEDITADA A CONTROL DE MEDICINA LABORAL</p>
        </div>
        <div style="text-align:right;">
            <p><strong>Firma de recepción Serv. de Personal</strong></p>
        </div>
        <% if (srcImgCertificado) { %>
            <img src='<%= srcImgCertificado %>' />
        <% } %>
    </body>
</html>