<!DOCTYPE html>
<html>
    <body style="margin:30px 25px;">
        
        <!-- LOGO HEADER  -->
        <%- include("base-logo") %>

        <h1>Ausencias. Totales por Articulo</h1>
            <%- include("../utils/print") %>
            <% for (const grupo of gruposAgente) { %>
            <table class="tg tgw">
                <!-- HEADER  -->
                <tr> 
                    <th class="tg-266k" colspan="<%= articulos.length + 4 %>">
                        <h2 class="m0">Agrupamiento: <%= value(grupo._id) %></h2>
                    </th>
                </tr>
                <!-- SUBHEADER  -->
                <tr> 
                    <td class="tg-xq07" rowspan="2" style="width:10%"><h3 class="m0">Identificacion</h3></td>
                    <td class="tg-xq07" rowspan="2" style="width:15%"><h3 class="m0">Apellido y Nombre</h3></td>
                    <td class="tg-xq07" colspan="<%= articulos.length %>" style="width:70%"><h3 class="m0">Articulos</h3></td>
                    <td class="tg-xq07" rowspan="2" "width:5%"><h3 class="m0">Total</h3></td>
                </tr>
                <tr> 
                    <% for (const articulo of articulos) { %>
                        <td class="tg-xq07"><h3 class="m0"><%= value(articulo.codigo) %></h3></td>
                    <% } %>
                </tr>
                <!-- DATA  -->
                <% let ceroRows = '' %>
                <% for (index = 0; index <= articulos.length; index++){ ceroRows = ceroRows + "<td class='tg-0pky'>0</td>" } %>
                    
                <% for (const agente of grupo.agentes) { %>
                    <tr class="border-cell">
                        <td>Agente <%= value(agente.numero) %>. DNI <%= value(agente.documento) %></td>
                        <td><%= value(agente.apellido) %>, <%= value(agente.nombre) %></td>
                        <% if (agente.ausentismo.length) { %>
                            <% let articulosMap = mapTotalesPorArticulos(articulos, agente.ausentismo[0].articulos) %>
                            <% for (const articulo of articulosMap) {  %>
                                <td><%= articulo.ausencias %></td>
                            <% } %>    
                            <td><%= agente.ausentismo[0].ausenciasTotales %></td>
                        <% } else { %>  
                            <%- ceroRows %>
                        <% } %>        
                    </tr>
                <% } %>
                
            </table>
            <br>
        <% } %>

    </body>
</html>