<% switch (historia.tipo) {
    case 'modificacion': 
    case  'alta': %>
        <tr>
            <td class="tg-hl">Tipo: <span class="bold"><%= historia.tipo=='alta'? 'ALTA': 'MODIFICACIÓN' %></td>
            <td class="tg-hl">Causa: <span class="bold"><%= value(historia, 'changeset.motivo') %></span></td>
        </tr>
        <tr>
            <td class="tg-0pky">Norma: <span class="bold"><%= value(historia, 'changeset.normaLegal.tipoNormaLegal.nombre') %> <%= value(historia, 'changeset.normaLegal.numeroNormaLegal') %></span></td>
            <td class="tg-0pky">Fecha de la Norma: <span class="bold"><%= value(historia, 'changeset.normaLegal.fechaNormaLegal') %></span></td>
        </tr>
        <tr>
            <td class="tg-0pky">Agrupamiento: <span class="bold"><%= value(historia, 'changeset.cargo.puesto.nombre') %></span></td>
            <td class="tg-0pky">Función: <span class="bold"><%= value(historia, 'changeset.cargo.subpuesto.nombre') %></span></td>
        </tr>
        <tr>
            <td class="tg-0pky" colspan="2">Lugar de Trabajo: <span class="bold"><%= value(historia, 'changeset.cargo.sector.nombre') %></span></td>
        </tr>
        <tr>
            <td class="tg-0pky" colspan="2">Servicio: <span class="bold"><%= value(historia, 'changeset.cargo.servicio.nombre') %></span></td>
        </tr>
        <tr>
            <td class="tg-0pky">Régimen Horario: <span class="bold"><%= value(historia, 'changeset.regimen.regimenHorario.nombre') %></span></td>
            <td class="tg-0pky">Actividad Crítica: <span class="bold"><%= value(historia, 'changeset.regimen.actividadCritica') %></span></td>
        </tr>
        <tr>
            <td class="tg-0pky">Dedicación Exclusiva: <span class="bold"><%= value(historia, 'changeset.regimen.dedicacionExclusiva') %></span></td>
            <td class="tg-0pky">Tiempo Pleno: <span class="bold"><%= value(historia, 'changeset.regimen.tiempoPleno') %></span></td>
        </tr>
        <tr>
            <td class="tg-0pky">Guardias Activas: <span class="bold"><%= value(historia, 'changeset.regimen.guardiasActivas') %></span></td>
            <td class="tg-0pky">Guardias Pasivas: <span class="bold"><%= value(historia, 'changeset.regimen.guardiasPasivas') %></span></td>
        </tr>    
        <% break;    
    case 'baja': %>
        <td class="tg-hl">Tipo: <span class="bold">BAJA</td>
        <td class="tg-hl">Causa: <span class="bold"><%= value(historia, 'changeset.motivo.nombre') %></span></td>
        <tr>
            <td colspan="2" class="tg-0pky">Fecha: <span class="bold"><%= value(historia, 'changeset.fecha') %></span></td>
        </tr>
        <tr>
            <td class="tg-0pky">Norma: <span class="bold"><%= value(historia, 'changeset.normaLegal.tipoNormaLegal.nombre') %> <%= value(historia, 'changeset.normaLegal.numeroNormaLegal') %></span></td>
            <td class="tg-0pky">Fecha de la Norma: <span class="bold"><%= value(historia, 'changeset.normaLegal.fechaNormaLegal') %></span></td>
        </tr>
        <tr>
            <td class="tg-0pky" colspan="2">Observaciones: <span class="bold"><%= value(historia, 'changeset.normaLegal.observaciones') %></span></td>
        </tr>
        <% break;
    case 'reactivacion': %>
        <td class="tg-hl">Tipo: <span class="bold">REACTIVACIÓN</td>
        <td class="tg-hl">Causa: <span class="bold"><%= value(historia, 'changeset.motivo') %></span></td>
        <tr>
            <td colspan="2" class="tg-0pky">Fecha: <span class="bold"><%= value(historia, 'changeset.fecha') %></span></td>
        </tr>
        <tr>
            <td class="tg-0pky">Norma: <span class="bold"><%= value(historia, 'changeset.normaLegal.tipoNormaLegal.nombre') %> <%= value(historia, 'changeset.normaLegal.numeroNormaLegal') %></span></td>
            <td class="tg-0pky">Fecha de la Norma: <span class="bold"><%= value(historia, 'changeset.normaLegal.fechaNormaLegal') %></span></td>
        </tr>
        <tr>
            <td class="tg-0pky" colspan="2">Observaciones: <span class="bold"><%= value(historia, 'changeset.normaLegal.observaciones') %></span></td>
        </tr>
    <% break;    
} %>

