<!DOCTYPE html>
<html>
    <body style="margin:30px 25px;">

        <!-- LOGO HEADER  -->
        <%- include("base-logo") %>
        
        <h1>Legajos de Agentes</h1>
            <%- include("../utils/print") %>
            <% for (const agente of agentes) { %>
            <table class="tg tgw legajo">
                <tr> <!-- HEADER  -->
                    <th class="tg-266k" colspan="2">
                        <h2 class="m0"><%= agente.apellido %>, <%= agente.nombre %></h2>
                    </th>
                </tr>
                
                <!-- DATOS PERSONALES --> 
                <tr> 
                    <td class="tg-xq07" colspan="2" style="width:100%"><h3 class="m0">Datos Personales</h3></td>
                </tr>
                <tr>
                    <td class="tg-0pky" style="width:50%">Numero de Agente: <span class="bold"><%= agente.numero %></span></td>
                    <td class="tg-0pky" style="width:50%">Estado:
                        <span class="bold">
                            <% if (agente.activo) { %>
                                <%= 'Activo' %>
                            <% } else { %>
                                <% baja = agenteBaja(agente) %>
                                <% if (baja) { %>
                                    <%= `Inactivo (Desde ${value(baja, 'changeset.fecha')} por ${value(baja, 'changeset.motivo.nombre')})` %>
                                <% } else { %>
                                    <%= 'Inactivo' %>
                                <% } %>
                            <% } %>
                        </span></td>
                </tr>
                <tr>
                    <td class="tg-0pky" colspan="2">Nombre: <span class="bold"><%= agente.apellido %>, <%= agente.nombre %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky" colspan="2">Documento: <span class="bold"> DNI/D.U <%= agente.documento %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky" colspan="2">CUIL: <span class="bold"><%= agente.cuil %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky">Estado Civil: <span class="bold"><%= value(agente.estadoCivil) %></span></td>
                    <td class="tg-0pky">Nacionalidad: <span class="bold"><%= value(agente.nacionalidad, 'nombre')  %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky">Sexo: <span class="bold"><%= value(agente.sexo) %></span></td>
                    <td class="tg-0pky">Fecha de Nacimiento: <span class="bold"><%= value(agente.fechaNacimiento) %></span></td>
                </tr>

                <!-- DATOS DOMICILIO -->
                <% const direccion = agente.direccion %>
                <tr> 
                    <td class="tg-xq07" colspan="2"><h3 class="m0">Datos Domicilio</h3></td>
                </tr>
                <tr>
                    <td class="tg-0pky" colspan="2">Direccion: <span class="bold"><%= direccion.valor %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky">Localidad: <span class="bold"><%= value(direccion.localidad, 'nombre') %></span></td>
                    <td class="tg-0pky">Provincia: <span class="bold"><%= direccion.localidad? value(direccion.localidad.provincia, 'nombre'):'---' %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky">Barrio: <span class="bold"><%= direccion.barrio %></span></td>
                    <td class="tg-0pky">CP:  <span class="bold"><%= value(direccion.codigoPostal) %></span></td>
                </tr>
                
                <!-- DATOS DE CONTACTO -->
                <tr> 
                    <td class="tg-xq07" colspan="2"><h3 class="m0">Datos de Contacto</h3></td>
                </tr>
                <% for (const contacto of agente.contactos) { %>    
                    <tr>
                        <td class="tg-0pky" colspan="2"><%= value(contacto.tipo) %>: <span class="bold"><%= contacto.valor %></span></td>
                    </tr>
                <% } %>

                <!-- DATOS DE EDUCACION -->
                <tr> 
                    <td class="tg-xq07" colspan="2"><h3 class="m0">Estudios completados</h3></td>
                </tr>
                <% for (const estudio of agente.educacion) { %>    
                    <tr>
                        <td class="tg-0pky" colspan="2">Titulo <%= value(estudio.tipoEducacion) %>: <span class="bold"><%= estudio.titulo %></span></td>
                    </tr>
                <% } %>

                 <!-- DATOS SITUACION EN PLANTA -->
                <% const situacion = agente.situacionLaboral %>
                <tr> 
                    <td class="tg-xq07" colspan="2"><h3 class="m0">Situacion en Planta</h3></td>
                </tr>
                <tr>
                    <td class="tg-0pky">Situación: <span class="bold"><%= value(situacion,'situacion.tipoSituacion.nombre') %></span></td>
                    <td class="tg-0pky">Lugar de Pago: <span class="bold"><%= value(situacion, 'situacion.lugarPago') %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky">Fecha de Ingreso al Estado: <span class="bold"><%= value(situacion.fechaIngresoEstado) %></span></td>
                    <td class="tg-0pky">Fecha de Ingreso al Hospital: <span class="bold"><%= value(situacion.fechaIngresoHospital) %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky" colspan="2">Fecha para Cálculo de Vacaciones: <span class="bold"><%= value(situacion.antiguedadVacaciones) %></span></td>
                </tr>

                <!-- DATOS CARGO ACTUAL -->
                <tr> 
                    <td class="tg-xq07" colspan="3"><h3 class="m0">Cargo Actual</h3></td>
                </tr>
                <tr>
                    <td class="tg-0pky">Norma: <span class="bold"><%= value(situacion, 'normaLegal.tipoNormaLegal.nombre') %> <%= value(situacion, 'normaLegal.numeroNormaLegal') %></span></td>
                    <td class="tg-0pky">Fecha de la Norma: <span class="bold"><%= value(situacion, 'normaLegal.fechaNormaLegal') %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky">Agrupamiento: <span class="bold"><%= value(situacion, 'cargo.agrupamiento.nombre') %></span></td>
                    <td class="tg-0pky">Función: <span class="bold"><%= value(situacion, 'cargo.subpuesto.nombre') %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky" colspan="2">Lugar de Trabajo: <span class="bold"><%= value(situacion, 'cargo.sector.nombre') %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky" colspan="2">Servicio: <span class="bold"><%= value(situacion, 'cargo.ubicacion.nombre') %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky">Régimen Horario: <span class="bold"><%= value(situacion, 'regimen.regimenHorario.nombre') %></span></td>
                    <td class="tg-0pky">Actividad Crítica: <span class="bold"><%= value(situacion, 'regimen.actividadCritica') %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky">Dedicación Exclusiva: <span class="bold"><%= value(situacion, 'regimen.dedicacionExclusiva') %></span></td>
                    <td class="tg-0pky">Tiempo Pleno: <span class="bold"><%= value(situacion, 'regimen.tiempoPleno') %></span></td>
                </tr>
                <tr>
                    <td class="tg-0pky">Guardias Activas: <span class="bold"><%= value(situacion, 'regimen.guardiasActivas') %></span></td>
                    <td class="tg-0pky">Guardias Pasivas: <span class="bold"><%= value(situacion, 'regimen.guardiasPasivas') %></span></td>
                </tr>

                 <!-- DATOS HISTORIA LABORAL -->
                 <tr> 
                    <td class="tg-xq07" colspan="3"><h3 class="m0">Historia Laboral</h3></td>
                </tr>
                <% if (agente.historiaLaboral && agente.historiaLaboral.length) { %> 
                    <% for (const historia of agente.historiaLaboral) { %>
                        <%- include('agentes-legajo-historia', {historia: historia}) %>
                    <% } %>
                <% } else { %>
                    <td class="tg-0pky" colspan="2"> No hay registros de Cargos anteriores</span></td>
                <% } %>
            </table>
            <br>
        <% } %>
    </body>
</html>