<!DOCTYPE html>
<html>
    <%- include("base-header") %>
    <body style="margin:30px 25px;">
        <h1>Agentes por <%= agrupamientoLabel %></h1>
            <%- include("../utils/print") %>
            <% for (const grupo of results) { %>
            <table class="tg tgw" style="width:100%">
                <tr> <!-- HEADER  -->
                    <th class="tg-266k" colspan="5">
                        <h2 class="m0"><%= agrupamientoLabel %>: <%= value(grupo._id) %></h2>
                    </th>
                </tr>
                
                <tr> 
                    <td class="tg-xq07" style="width:10%"><h3 class="m0">Numero</h3></td>
                    <td class="tg-xq07" style="width:10%"><h3 class="m0">Documento</h3></td>
                    <td class="tg-xq07" style="width:40%"><h3 class="m0">Nombre</h3></td>
                    <td class="tg-xq07" style="width:20%"><h3 class="m0">Lugar de Trabajo</h3></td>
                    <td class="tg-xq07" style="width:20%"><h3 class="m0">Servicio</h3></td>
                </tr>
                <% let rowClass= (extraFieldsLabels && extraFieldsLabels.length)?'tg-xq07':'tg-0pky'; %>
                <% for (const agente of grupo.agentes) { %>
                   
                    <tr>
                        <td class="<%= rowClass %>"><%= value(agente.numero) %></td>
                        <td class="<%= rowClass %>"><%= value(agente.documento) %></td>
                        <td class="<%= rowClass %>"><%= value(agente.apellido) %>, <%= value(agente.nombre) %></td>
                        <td class="<%= rowClass %>"><%= value(agente, 'situacionLaboral.cargo.sector.nombre') %> </td>
                        <td class="<%= rowClass %>"><%= value(agente, 'situacionLaboral.cargo.ubicacion.nombre') %></td>
                    </tr>
                    <% for (const field of extraFieldsLabels) { %>
                        <tr>
                            <td class="tg-0pky" colspan="5"><%= label(field) %>: <%= value(agente, field) %></td>
                        </tr>
                    <% } %>
                <% } %>
            </table>
            <br>
        <% } %>
    </body>
</html>