<!DOCTYPE html>
<html>
    <%- include("base-header") %>
    <body style="margin:30px 25px;">
        
        <!-- LOGO HEADER  -->
        <%- include("base-logo") %>
        
        <h1>Ausencias. Listados por Agente</h1>
            <%- include("../utils/print") %>
            <% for (const grupo of gruposAgente) { %>
                <table class="tg tgw">
                    <!-- HEADER  -->
                    <tr> 
                        <th class="tg-266k" colspan="8">
                            <h2 class="m0">Agrupamiento: <%= value(grupo._id) %></h2>
                        </th>
                    </tr>
                    <!-- SUBHEADER  -->
                    <tr> 
                        <td class="tg-xq07" style="width:10%"><h3 class="m0">Numero</h3></td>
                        <td class="tg-xq07" style="width:10%"><h3 class="m0">Documento</h3></td>
                        <td class="tg-xq07" style="width:20%"><h3 class="m0">Nombre y Apellido</h3></td>
                        <td class="tg-xq07" style="width:15%"><h3 class="m0">Desde</h3></td>
                        <td class="tg-xq07" style="width:15%"><h3 class="m0">Hasta</h3></td>
                        <td class="tg-xq07" style="width:10%"><h3 class="m0">Dias</h3></td>
                        <td class="tg-xq07" style="width:10%"><h3 class="m0">Articulo</h3></td>
                        <td class="tg-xq07" style="width:10%"><h3 class="m0">Obs</h3></td>
                    </tr>
                    <!-- DATA  -->     
                    <% for (const agente of grupo.agentes) { %>
                        <% let rowSpan = agente.ausentismo.length? agente.ausentismo.length : 1 %>
                        <% let aus = agente.ausentismo; %>
                        <% for (index = 0; index < aus.length; index++) { %>
                            <% if (index == 0) { %>
                                <tr>
                                    <td class="tg-0pky" rowspan="<%= rowSpan %>"><%= value(agente.numero) %></td>
                                    <td class="tg-0pky" rowspan="<%= rowSpan %>">DNI <%= value(agente.documento) %></td>
                                    <td class="tg-0pky" rowspan="<%= rowSpan %>"><%= value(agente.apellido) %>, <%= value(agente.nombre) %></td>
                                    <td class="tg-0pky"><%= value(aus[index].fechaInicio) %></td>
                                    <td class="tg-0pky"><%= value(aus[index].fechaFin) %></td>
                                    <td class="tg-0pky"><%= aus[index].totalAusencias %></td>
                                    <td class="tg-0pky"><%= aus[index]._id.articulo %></td>
                                    <td class="tg-0pky"><%= aus[index]._id.extra %></td>
                                </tr>
                            <% } else { %>        
                                <tr>
                                    <td class="tg-0pky"><%= value(aus[index].fechaInicio) %></td>
                                    <td class="tg-0pky"><%= value(aus[index].fechaFin) %></td>
                                    <td class="tg-0pky"><%= aus[index].totalAusencias %></td>
                                    <td class="tg-0pky"><%= aus[index]._id.articulo %></td>
                                    <td class="tg-0pky"><%= aus[index]._id.extra %></td>
                                </tr>
                            <% } %>    
                        <% } %>    
                    <% } %>
                </table>
            <br>
            <% } %>

    </body>
</html>